body{
    background-color: antiquewhite;
}
/* Additional CSS */
/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(253 251 251);
}
.inbox{
    width :575px;
    float: left;
    padding:10px;
    overflow-y: scroll;
    max-height: 300px;
    scrollbar-color:indianred;
}
.inbox_info{
   width: 550px;
    border:3px solid indianred;
    height:140px;
    padding: 10px;

}
.inbox_info img{
    width: 120px;
    height: 120px;
    padding:5px;
    float:left;

}
.inbox_info .heading{
    width :30%;
    padding:0 5px;
    float:left;


}
 .inbox_info .text{
      width :30%;
      padding:0 5px;



  }
p{
    margin:10px;
}
a{
    display:inline;

    padding:5px;
}
#inboxheader{
    background-color: indianred;
    width: 571px;
    height:25px;
    padding-top: 5px;
    padding-left: 5px;






}
#box{
    height: 30px;
    border-radius: 10px;
    margin-left: 630px;
}
#searchbox{
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    margin-right:10px;
    margin-bottom:10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: indianred;
}
.dropbtn{
    cursor:pointer;
    color:black;
    padding:5px;
    background-color: indianred;
    border:none;
    font-size:16px;

}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display:none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;

}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color:white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: orangered;
}
.profile img{
    float:left;
    height: 120px;
    width: 120px;
}

.profile{
    width :350px;
    float: left;
    display:inline;
    border: 3px solid indianred;
    padding:20px;
    border-radius:10px;
    position: absolute;
    top:90px;
    left:650px;



}

#Username{
    font-size:25px;
}
#sharelinkform{
    border: 3px solid indianred;
    width:350px;
    height:225px;
    position:absolute;
    /*top:400px;*/
    /*left:600px;*/
    /*display:none;*/
    /*pointer-events:none;*/

}

#sharelinkheader{
    background-color: indianred;
    width: 345px;
    height:25px;
    padding-top: 5px;
    padding-left: 5px;


}
#linkform{
    padding-left:15px;
    padding-right:15px;
    padding-bottom:15px;
    padding-top:15px;
}
.form-button{
    margin:10px;
    padding:5px;


}
#sharedocform{
    border: 3px solid indianred;
    width:350px;

    /*position:absolute;*/
    /*top:400px;*/
    /*left:600px;*/
    /*display:none;*/
    /*pointer-events:none;*/

}

#sharedocheader{
    background-color: indianred;
    width: 345px;
    height:25px;
    padding-top: 5px;
    padding-left: 5px;


}
#docform{
    padding-left:15px;
    padding-right:15px;
    padding-bottom:15px;
    padding-top:15px;
}
#insertdoc{
    display:inline;
}
.form-button{
    margin:10px;
    padding:5px;


}
#subscription{
    position: absolute;
    top:505px;
    left:20px;
}
.subscription_info{
    width :350px;
    float: left;
    display:inline;
    border: 3px solid indianred;
    padding:20px;




}
#subscription_info img{
    float:left;

}
#subscriptionheader{
    background-color: indianred;
    width: 391px;
    height:25px;
    padding-top: 5px;
    padding-left: 5px;
    position: absolute;
    top:-25px;
    left:0px;


}
#trending{
    position: absolute;
    top:1275px;
    left:20px;




}
.trending_info{
    width :350px;
    float: left;
    display:inline;
    border: 3px solid indianred;
    padding:20px;




}
#trending_info img{
    float:left;

}
#trendingheader{
    background-color: indianred;
    width: 391px;
    height:25px;
    padding-top: 5px;
    padding-left: 5px;
    position: absolute;
    top:1250px;
    left:20px;


}
#createtopic{

    border: 3px solid indianred;
    width:350px;
    height:180px;
    /*position:absolute;*/
    /*top:400px;*/
    /*left:600px;*/
    /*display:none;*/
    /*pointer-events:none;*/

}

#createtopicheader{

    background-color: indianred;
    width: 345px;
    height:25px;
    padding-top: 5px;
    padding-left: 5px;


}
#createtopicform{
    padding-left:15px;
    padding-right:15px;
    padding-bottom:15px;
    padding-top:15px;
}
#topicname{
    display:inline;
}
#sendinvitation{

    border: 3px solid indianred;
    width:350px;
    /*position:absolute;*/
    /*top:400px;*/
    /*left:600px;*/
    /*display:none;*/
    /*pointer-events:none;*/

}

#sendinvitationheader{

    background-color: indianred;
    width: 345px;
    height:25px;
    padding-top: 5px;
    padding-left: 5px;


}
#sendinvitationform{
    padding-left:15px;
    padding-right:15px;
    padding-bottom:15px;
    padding-top:15px;
}
#email{
    display:inline;
}
.bg-modal-invite{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position:absolute;
    top:0;
    /*display:flex;*/
    justify-content: center;
    align-items: center;
    display: none;

}
.modal-content-invite{
    width:356px;
    height:175px;
    background-color: white;


}
.bg-modal-doc{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position:absolute;
    top:0;
    /*display:flex;*/
    justify-content: center;
    align-items: center;
    display: none;

}
.modal-content-doc{
    width:356px;
    height:270px;
    background-color: white;


}
.bg-modal-link{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position:absolute;
    top:0;
    /*display:flex;*/
    justify-content: center;
    align-items: center;
    display: none;

}
.modal-content-link{
    width:356px;
    height:230px;
    background-color: white;


}

.bg-modal-topic{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position:absolute;
    top:0;
    /*display:flex;*/
    justify-content: center;
    align-items: center;
    display: none;

}
.modal-content-topic{
    width:356px;
    height:185px;
    background-color: white;


}
.but {
    display: inline-block;
    padding: 10px 15px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: darkred;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.but:hover {background-color: darkred}

.mar{
    border:none;
    background-color: transparent;
    color:blue;
    font-size: 15px;
}
.searchform{
    display: inline;

}

