body{
    background-color: antiquewhite;
}
#login{

    border-style: solid;
    border-width: 1px;
    border-radius: 2%;
    width: 250px;
    float:left;
    height:230px;
    padding-bottom: 10px;
    margin:50px;



}
#loginform{
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 20px;


}
#loginheader{
    /*background-color: indianred;*/
    background-color: indianred;
    width: 245px;
    height:25px;
    padding-top: 5px;
    padding-left: 5px;



}
#frgotpasswrd{
    padding-right: 20px;
}
#searchbox{
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    margin-right:10px;
    margin-bottom:10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: indianred;
}
#appname{
    font-size: 20px;
}
#box{
    height: 30px;
    border-radius: 10px;
    margin-left: 800px;
}
#Register{

    border-style: solid;
    border-width: 1px;
    border-radius: 2%;
    width: 250px;
    height:575px;
    position:absolute;
    top:350px;
    margin:50px;




}
#registerheader{
    background-color: indianred;
    width: 245px;
    height:25px;
    padding-top: 5px;
    padding-left: 5px;




}
#registerform{
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 20px;

}
#Recentshare{
    position:absolute;
    top:200px;
    left:400px;
    overflow-y: scroll;
    max_height:346px;
}
#RecentSharesposts{
    border-style: solid;
    border-width: 1px;

    width:300px;






}
.RecentSharespic{
    vertical-align: top;
    display: inline;
    padding-left:75px;
    padding-right:75px;
    height: 150px;
    padding-top:20px;


}
.Recentpostinfo{

    padding-left: 20px;
    padding-right: 20px;
    text-align: center;


}
.Recentname{
    display:inline;
    padding-left:105px;



}
.Recentusername{
    display:inline;
    padding-left:105px;


}

.Recenttopicname{
    padding-left:10px;

}
.Recentviewpost{
    padding-left:10px;

}
.Recentshareot{
    padding-left:110px;

}
#Recentshareheader{
    background-color: indianred;
    width: 298px;
    height:25px;
    padding-top: 5px;
    padding-left: 5px;
    position:absolute;

    top:170px;
    left:400px;




}
.boundary{
    border:1px;
}
#topshares{
    float:left;
    position:absolute;
    top:200px;
    left:800px;

}
.topshareposts{
    border-style: solid;
    border-width: 1px;
    /*-moz-border-radius-bottomleft: 2%;*/
    /*-moz-border-radius-bottomright:2% ;*/
    width:295px;


    /*float:left;*/






}
.topSharespic{
    vertical-align: top;
    display: inline;
    padding-left:75px;
    padding-right:75px;
    height: 150px;
    padding-top:20px;


}
.toppostinfo{

    padding-left: 20px;
    padding-right: 20px;
    text-align: center;


}
.topname{
    display:inline;
    padding-left:105px;



}
.topusername{
    display:inline;
    padding-left:105px;


}

.toptopicname{
    padding-left:10px;

}
.topviewpost{
    padding-left:10px;

}
#topshareot{
    padding-left:110px;

}
#topshareheader{
    background-color: indianred;
    width: 298px;
    height:25px;
    padding-top: 5px;
    padding-left: 5px;
    position:absolute;
    top:170px;
    left:800px;





}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(253 251 251);
}
#topshares{
    overflow-y: scroll;
    max_height:346px;
}


#maindiv{
    display: block;
}
.bg-modal-fp{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position:absolute;
    top:0;
    /*display:flex;*/
    justify-content: center;
    align-items: center;
    display: none;

}
.modal-content-fp{
    width:356px;
    height:175px;
    background-color: white;


}